/* importing fonts 'Lobster Two' and "josefin Slab' from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap&family=Lobster+Two&display=swap');

body {
    font-family: 'Cormorant Garamond', serif;
}

/* EVERYWHERE */
a {
    color: #cc6600;
    text-decoration: none;
}

a:hover {
    color: #800000;
    text-decoration: underline;
    transition: 0.5s;
}

/* HEADER */

.banner-container {
    border: 5px solid #f3c86b;
    /* border-color: #f3c86b; */
}

.container{
    margin: auto;
    max-width: 500px;
    color: #22880d
}

.heading {
    color: #22880d;
    font-family: 'Lobster Two', sans-serif;
    text-align: center;
}

.nav-links {
    display: flex;
    list-style: none;
    /* padding-left: 5%; */
    background-color: #f3c86b;
    /* padding: 2%; */
    border-radius: 25px;
}
.nav-link-item {
    /* padding-right: 3rem; */
    background-color: #f3c86b;
    overflow: hidden;
}

.nav-link-item a{
    /* padding: 25%; */
    float: left;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    background-color: #f3c86b;
    text-decoration: none;
}

.nav-link-item a:hover {
    transition: 0.5s;
    background-color: #cc8e08;
    color: white;
}

.nav-link-item a:active {
    background-color: #cc8e08;
    /* padding: 2%; */
}

.nav-link-text {
    color:#22880d;
}

.site-title {
    font-size: 3rem;
    color: #22880d;
    font-weight: 700;
    margin: 3rem 0;
    font-family: 'Lobster Two', sans-serif;
    text-align: center;
}

/* footer */
footer{
    width: 100%;
    text-align: center;
    margin-top: 20%;
}

footer a{
    color: #7d7d7d;
    width: 100%;
    text-decoration: none;
}

footer a:hover{
    color: black;
    transition: 1s;
}
